<html>
    <head>
		<meta http-equiv="refresh" content="300">
		<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
		<link rel="stylesheet" href="style.css">
        <title>Hacktoberfest leaderboard</title>
    </head>
    <body>
        <header class="navbar">
            <section class="navbar-section">
                <a href="/" class="btn btn-link">Leaderboard</a>
                <a href="/badges" class="btn btn-link">Badges</a>
            </section>
            <section class="navbar-center">
                <figure class="avatar avatar-xl">
                    <img src="img/hacktoberfest-icon.jpg">
                </figure>
            </section>
            <section class="navbar-section">
                <%# <a href="#" class="btn btn-link">Twitter</a>
                <a href="#" class="btn btn-link">GitHub</a> %>
            </section>
        </header>
		<div id="content">
			<h1>Hacktoberfest 2019</h1>
            <%= yield %>
    </body>
</html>
